<header id="header" class="header d-flex align-items-center sticky-top">
    <div
        class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="/img/logo.png" alt="Ganes Logo"
                style="border-radius: 100%; width: 100%; height: 100%; object-fit: cover;">
            <h1 class="sitename">GANES</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/"
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'index') ? 'active' : '' %>">Home</a></li>
                <li><a href="/about" data-ajax-nav
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'about') ? 'active' : '' %>">About</a></li>
                <li><a href="/resume" data-ajax-nav
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'resume') ? 'active' : '' %>">Resume</a></li>
                <li><a href="/project"
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'project') ? 'active' : '' %>">Portfolio</a></li>
                <li><a href="/services" data-ajax-nav
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'services') ? 'active' : '' %>">Services</a></li>
                <li><a href="/contact"
                        class="<%= (typeof activePage !== 'undefined' && activePage === 'contact') ? 'active' : '' %>">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>