<section id="portfolio-details" class="portfolio-details section">
    <div class="container" data-aos="fade-down">
        <div class="mb-4">
            <a href="/portfolio" class="btn-back-glass">
                <i class="bi bi-arrow-left"></i> Back to Portfolio
            </a>
        </div>
        <% project.ProjectDetail.forEach(detail=> { %>
            <div class="row gy-4 g-lg-5">
                <div class="col-lg-7">
                    <div class="portfolio-details-card">
                        <a href="<%= detail.FilePath %>" class="glightbox preview-link" data-gallery="portfolio-gallery">
                            <img src="<%= detail.FilePath %>" class="img-fluid" alt="<%= project.ProjectName %>"
                                style="width: 100%; display: block;" loading="lazy">
                            <div class="zoom-icon">
                                <i class="bi bi-eye"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="position-sticky" style="top: 100px">
                        <div class="portfolio-description mb-5">
                            <h2 class="text-accent mb-4"
                                style="font-weight: 800; text-transform: uppercase; letter-spacing: 2px;">
                                <%= project.ProjectName %>
                            </h2>
                            <p style="text-align: justify; line-height: 1.8; opacity: 0.8;">
                                <%= detail.Description %>
                            </p>
                        </div>
                        <div class="portfolio-info">
                            <h3>Project Information</h3>
                            <div class="row gy-4">
                                <div class="col-12 col-md-6">
                                    <ul>
                                        <li><strong>Category</strong>
                                            <h6>
                                                <%= project.TypeName %>
                                            </h6>
                                        </li>
                                        <li><strong>Project date</strong>
                                            <h6>
                                                <%= detail.DateCreated.toDateString() %>
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ul>
                                        <li><strong>Skills</strong>
                                            <h6>
                                                <%= detail.SkillName %>
                                            </h6>
                                        </li>
                                        <li><strong>Project URL</strong>
                                            <h6><a href="<%= detail.Link %>" target="_blank" class="text-accent">Visit
                                                    Link <i class="bi bi-box-arrow-up-right ms-1"
                                                        style="font-size: 0.8rem;"></i></a></h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }) %>
    </div>
</section>